<form (ngSubmit)="onSubmit(newPolicyForm)"
      #newPolicyForm="ngForm">
        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
            <span class="label">Provider</span>
              <input ngModel
                   name="carrier" 
                   placeholder="CARRIER"
                   type="text" 
                   class="value end-md" 
                   id="provider"
                   (keyup.enter)="onSubmit(newPolicyForm)">
            <span class="pink-underline"></span>  
        </div>

        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
            <span class="label">Policy Number</span>
            <input ngModel
                    name="policy_number"
                    placeholder="POLICY NUMBER"
                    type="text"
                    class="value end-md"
                    id="policy_number"
                    (keyup.enter)="onSubmit(newPolicyForm)">
            <span class="pink-underline"></span>
        </div>

        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
            <span class="label">Claim ID</span>
            <input ngModel 
                    name="claim_id"
                    placeholder="CLAIM ID"
                    type="text"
                    class="value end-md"
                    id="claim_id"
                    (keyup.enter)="onSubmit(newPolicyForm)">
            <span class="pink-underline"></span>
        </div>
</form>