<div class="answer-call-container">

  <div class="connect-container" *ngIf="(!onVibiio && !callEnded)">
    <div class="waiting-house"></div>
    <div *ngIf="!onVibiio" class="waiting-text">Connecting...</div>
  </div>
    <div id="video-stream" class="video-stream on-fullscreen">
      <vib-video-controls *ngIf="(onVibiio && !callEnded)"
                          (endCall)="hangUp()"
                          (mute)="toggleMute($event)"
                          [muted]="muted"></vib-video-controls>
        <div class="name-container" *ngIf="onVibiio">
            <vib-call-name-display [name]="consumerName"></vib-call-name-display>
            <vib-call-name-display [name]="vibiiographerName"></vib-call-name-display>
        </div>
        
      </div>

  <div *ngIf="(!onVibiio && callEnded)" class="vibiio-message">
    <p vclass="first-vibiio-text pink">
      The call is over
      <br><br>
        Thank you for participating
    </p>
  </div>
</div>

