<div class="col-xs
            col-md-offset-1">

  <div class="row
              info-element
              between-xs
              bottom-xs">
    <h1 class ="col-xs
              col-md-offset-1
              appointment-title
              pink" >{{ appointment.user.first_name}} {{ appointment.user.last_name}}</h1>

      <div *ngIf="(!onVibiio)"
           class="col-xs
           col-xs-offset-1
           col-md-2
           start-vibiio
           link"
           (click)="connect($event)">
           start vibiio
      </div>

      <div *ngIf="(onVibiio)"
          class="col-xs
          col-xs-offset-1
          col-md-2
          start-vibiio
          link"
          (click)="disconnect($event)">
          end vibiio
      </div>
 
      <div class="col-xs link">
        <img  *ngIf="(!onVibiio)"
              src="../../../../assets/images/call-controls.svg"
              (click)="connect($event)">
        <img  *ngIf="(onVibiio)"
          src="../../../../assets/images/call-controls.svg"
          class="end-call"
          (click)="disconnect($event)">
      </div>
      
  </div>
</div>

<div class="flex" >
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              appointment-information" >

    <div class="info-element sub-heading">
      <h2>profile</h2>
      <div class="long-pink-underline" ></div>
    </div>

    <key-value [key]="'Email'"
               [value]="appointment.user?.email"></key-value>

    <key-value [key]="'Phone Number'"
               [value]="appointment.user?.phone"></key-value>

    <key-value [key]="'Address'"
               [value]="appointment.address?.address_one"></key-value>

    <key-value *ngIf="appointment.address?.address_two"
               [key]="'Address Two'"
               [value]="appointment.address?.address_two"></key-value>

    <key-value [key]="'City'"
               [value]="appointment.address?.city"></key-value>

    <key-value [key]="'State'"
               [value]="appointment.address?.state"></key-value>

    <key-value [key]="'Zip Code'"
               [value]="appointment.address?.zip"></key-value>

    <span *ngFor="let policy of appointment.insurance_policies">
      <key-value [key]="'Provider'"
                 [value]="policy.carrier"></key-value>

      <key-value [key]="'Policy Number'"
                 [value]="policy.policy_number"></key-value>
    </span>

    <key-value [key]="'Claim ID'"
               [value]="(appointment.claim_id)"></key-value>
  </div>

  <div class="col-xs-12
            col-sm-6
            col-md-5
            col-md-offset-1
            appointment-information" >

    <div class="info-element sub-heading">
      <h2>vibiio</h2>
      <div class="long-pink-underline" ></div>

      <div class="row center-xs video-container">
          <div id="subscriber-stream"></div>
        </div>
    </div>

    <div *ngIf="(!onVibiio)" 
         class="first-vibiio-message">
      <p class="first-vibiio">🤙</p>
      <p class="first-vibiio-text">This is {{ appointment.user.first_name }}'s first vibiio!</p>
      <p class="first-vibiio-text">Ready to introduce yourself?</p>
      <p class="first-vibiio-text pink link"
         (click)="connect($event)">Call {{ appointment.user.first_name }} now.</p>
    </div>

  </div>

</div>

<div class="flex">
  <div class="col-xs-10
          col-md-offset-1
          appointment-information" > 

    <div class="info-element sub-heading no-margin-bottom"> 
      <h2 class="customer-notes">notes</h2>
    </div> 
    
    <div class="row 
                info-element 
                between-xs
                bottom-xs">
      
       <div class="notes-element
                   pink-border
                   row
                   between-xs
                   bottom-xs">  
        <!-- <p>{{ appointment.vibiio.notes }}</p> -->
        <vib-consumer-notes [vibiio]="vibiio" [notes]='appointment.customer_notes'></vib-consumer-notes>
       </div>  
    </div>    
  </div>
</div>
