<div class="col-xs
            col-md-offset-1">

  <div class="row
              info-element
              between-xs
              bottom-xs">
    <h1 class ="col-xs
              col-md-offset-1
              appointment-title
              pink" >{{ appointment.user.first_name}} {{ appointment.user.last_name}}</h1>

    <div *ngIf="(!onVibiio)"
          class="col-xs
          col-xs-offset-1
          col-md-2
          start-vibiio
          link"
          (click)="connect($event)">
          start vibiio
    </div>

    <div *ngIf="(onVibiio)"
        class="col-xs
        col-xs-offset-1
        col-md-2
        start-vibiio
        link"
        (click)="disconnect($event)">
        end vibiio
    </div>
 
    <div class="col-xs link">
      <img  *ngIf="(!onVibiio)"
            src="../../../../assets/images/call-controls.svg"
            (click)="connect($event)">
      <img  *ngIf="(onVibiio)"
        src="../../../../assets/images/call-controls.svg"
        class="end-call"
        (click)="disconnect($event)">
    </div>
  </div>
  <div class="row edit-button-row">
    <h4 *ngIf="!isEditingInsurance"
        class="col-md-offset-4
               edit-text"
        (click)=onPolicyEdit()>EDIT</h4>

    <h4 *ngIf="isEditingInsurance"
        class="col-md-offset-4
               save-text"
        [ngClass]="{ 'save-after-element': isUpdatingInsurance }"
        (click)=onPolicyUpdate()>SAVE</h4>

    <h4 *ngIf="isEditingInsurance"
        class="cancel-text"
        (click)="onCancelPolicyEdit()">CANCEL</h4>
  </div>
</div>

<div class="flex" >
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              appointment-information" >

    <div class="info-element sub-heading">
      <h2>profile</h2>
      <div class="long-pink-underline" ></div>
    </div>

    <key-value [key]="'Email'"
               [value]="appointment.user?.email"></key-value>

    <key-value [key]="'Phone Number'"
               [value]="appointment.user?.phone"></key-value>

    <key-value [key]="'Address'"
               [value]="appointment.address?.address_one"></key-value>

    <key-value *ngIf="appointment.address?.address_two"
               [key]="'Address Two'"
               [value]="appointment.address?.address_two"></key-value>

    <key-value [key]="'City'"
               [value]="appointment.address?.city"></key-value>

    <key-value [key]="'State'"
               [value]="appointment.address?.state"></key-value>

    <key-value [key]="'Zip Code'"
               [value]="appointment.address?.zip"></key-value>

    <key-value [key]="'Vibiio Date'"
               [value]="parseDate(appointment.scheduled_datetime)"></key-value>           

    <key-value [key]="'Vibiio Start Time'"
               [value]="parseTime(appointment.scheduled_datetime)"></key-value>

    
    <vib-insurance-policy [insurancePolicies]="appointment.insurance_policies"
                          [consumerId]="appointment.consumer_id"
                          (isUpdating)="insuranceOnUpdate($event)"
                          (isEditing)="insuranceOnEdit($event)"></vib-insurance-policy>

    <vib-claim-status (updatedStatus)="updateStatus($event)" [vibiio]="vibiio"></vib-claim-status>
  </div>

  <div class="col-xs-12
            col-sm-6
            col-md-5
            col-md-offset-1
            appointment-information" >

    <div class="info-element sub-heading">
      <h2>vibiio</h2>
      <div class="long-pink-underline" ></div>

      <div class="row center-xs video-container">
        <div *ngIf="vibiioConnecting">
          <div class="waiting-house"></div>
          <div class="waiting-text">Connecting...</div>
        </div>

        <div *ngIf="(onVibiio)">
          <div class="subscriber-holder"
               [class.on-fullscreen]="vibiioFullscreen">
            <div id="subscriber-stream"></div>
          </div>

          <div [class.fs-button-position]="vibiioFullscreen"
               (click)="toggleVibiioFullscreen()">

            <div class="fullscreen-button" *ngIf="(!vibiioFullscreen)">
              <img class="fullscreen-icon"
                   src="../../../../assets/images/fullscreen-enter-pink.svg">
              <span class="fullscreen-text">FULLSCREEN</span>
            </div>

            <div class="fullscreen-button" *ngIf="(vibiioFullscreen)">
              <img class="fullscreen-icon"
                    src="../../../../assets/images/fullscreen-exit-white.svg">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="(!onVibiio)" 
          class="vibiio-message">
        <p class="first-vibiio">🤙</p>
        <p class="first-vibiio-text">This is {{ appointment.user.first_name }}'s first vibiio!</p>
        <p class="first-vibiio-text">Ready to introduce yourself?</p>
        <p class="first-vibiio-text pink link"
          (click)="connect($event)">Call {{ appointment.user.first_name }} now.</p>
      </div>

      <div *ngIf="(!onVibiio && neworkDisconnected)" 
          class="vibiio-message">
        <p class="first-vibiio-text pink">Lost connection. This could be due to your internet connection    
                                          or because the other party lost their connection.</p>
      </div>
    </div> 
  </div> 
</div>

<div class="row flex">
  <div class="col-xs-10
          col-md-offset-1
          appointment-information
          appointment-notes">  
  
    <div class="notes-row">
      
      <div class="note-row col-md-6">
        <div class="info-element">
          <span class="label">Customer Notes</span>
          <span class="pink-underline"></span>
        </div>
        
        <vib-consumer-note [description]="appointment.vibiio.description"></vib-consumer-note>
      </div>
      
      <div class="col-md-1">
      </div>
      
      <div class="note-row col-md-6">
        <div class="info-element">
          <span class="label">Vibiio Notes</span>
          <span class="pink-underline"></span>
        </div>
        <vib-vibiio-notes 
            [vibiioId]="appointment.vibiio.id" 
            [notes]="appointment.customer_notes">
        </vib-vibiio-notes>
      </div>
    </div>
  </div>
</div>