<div class="notification-bar" [ngClass]="{'first-bar': rowIndex == 0}" title="{{ description }}">
  <div class="wrapper">
    <div class="top-row">
        <div class="notification">
            <div class="name">{{ consumerName }}</div>
            <span class="pink"></span>

            <div class="timer" *ngIf="minutes == 1">
                Waiting for {{ minutes }} minute <span *ngIf="seconds != 0">and {{ seconds }} seconds</span>
            </div>
            <div class="timer" *ngIf="minutes > 1">
                Waiting for {{ minutes }} minutes <span *ngIf="seconds != 0">and {{ seconds }} seconds</span>
            </div>
            <div class="timer" *ngIf="minutes == 0">
                <span *ngIf="seconds == 1">Waiting for {{ seconds }} second</span>
                <span *ngIf="seconds != 0">Waiting for {{ seconds }} seconds</span>
            </div>
        </div>

        <div class="button-wrap" *ngIf="displayConnectIcon()">
            <span class="button-label">Start Vibiio</span>
            <img class="claim-button"
                (click)="emitAppointment()"
                src="assets/images/start.svg" />
        </div>
    </div>

    <div class="bottom-row">
        <div class="description" *ngIf="description !== null">{{ description }}</div>
    </div>

  </div>
</div>