@import '../../../../assets/css/_variables.scss';

// .flex {
//     display: flex;
//     flex-direction: column;
// }

.profile-information-container {
  max-width: none;
  padding: 0;
}

.profile-information {
    padding-left: 0;
    margin-bottom: 40px;
}

h2 {
  color: $blue;
  font-family: $base-font;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.16;
  margin: 0;
  text-transform: capitalize;
  display: inline;
}

/deep/ .info-element {
  padding-bottom: 11px;
  position: relative;
  margin: 6.5px 0 18px 0;

  &.last-info-element {
    margin: 6.5px 0 13px 0;
  }

  .label {
    color: $greyish-brown;
    font-family: $base-font;
    font-size: 1.8rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .value {
    color: $greyish-brown;
    font-family: $copy-font;
    font-size: 1.3rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
  }
}

/deep/ .pink-underline {
  width: 9%;
  border-bottom: 3px solid $pink;
  bottom: 0;
  left: 0;
  position: absolute;
}
