<div class="col-xs
            col-md-offset-1">
  <div class="row
              info-element
              between-xs
              bottom-xs">
    <h2>
        {{ profile.first_name}} {{ profile.last_name}}
    </h2>
</div>


<div class="flex" >
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              profile-information">
    <div class="info-element">
        <h2>profile</h2>
        <div class="pink-underline" ></div>
    </div>

    <key-value [key]="'Email'"
               [value]="profile.email"></key-value>

    <key-value [key]="'Phone Number'"
               [value]="profile.phone"></key-value>

    <key-value [key]="'Address'"
               [value]="profile.address_one"></key-value>

    <key-value [key]="'Zip'"
               [value]="profile.zip"></key-value>

      <key-value [key]="'Provider'"
                 [value]="profile.provider"></key-value>

      <key-value [key]="'Policy Number'"
                 [value]="profile.policy_number"></key-value>

  </div>
  
</div>
