<div class="col-md-6
            col-xs
            profile-information-container">

<div class="profile-information">

    <key-value [key]="'Email'"
               [value]="consumerProfile.user_info.email"></key-value>

    <key-value [key]="'Phone Number'"
               [value]="consumerProfile.user_info.phone_number"></key-value>

    <key-value [key]="'Address'"
               [value]="consumerProfile.user_info.address_one"></key-value>

    <key-value [key]="'Zip'"
               [value]="consumerProfile.user_info.zipcode"></key-value>

    <key-value [key]="'Provider'"
                 [value]="consumerProfile.user_info.provider"></key-value>

    <key-value [key]="'Policy Number'"
                 [value]="consumerProfile.user_info.policy_number"></key-value>

</div>
</div>
  