<div class="col-md-6
            col-xs
            profile-information-container">

<div class="profile-information">

    <key-value [key]="'Email'"
               [value]="consumerProfile.user_info.email"></key-value>

    <key-value [key]="'Phone Number'"
               [value]="consumerProfile.user_info.phone_number"></key-value>

    <vib-consumer-address [address]="address"
                          (formChanged)="onEdit($event)">
    </vib-consumer-address>

    <key-value [key]="'Vibiio Date'"
               [value]="parseDate(consumerProfile.appointment_scheduled_datetime[0])"></key-value>
    
    <key-value [key]="'Vibiio Start Time'"
               [value]="parseTime(consumerProfile.appointment_scheduled_datetime[0])"></key-value>

  
    <vib-insurance-policy [insurancePolicies]="consumerProfile.insurance_policies"
                          [consumerId]="consumerProfile.consumer_id"
                          (editingPolicy)="onEdit($event)"></vib-insurance-policy>

    <vib-claim-status (updatedStatus)=updateStatus($event) [vibiio]="vibiio"></vib-claim-status>
  </div>
</div>
  