@import '../../../../assets/css/_variables.scss';

.vibiio-archive-container {
    display: flex;
    width: 100%;
    padding: 0;
    max-width: none;
}
.vibiio-snapshot-container {
    margin: 0 10px;
    height: 222px;
    width: 150px;
    max-width: none;
}

.vibiio-snapshot-image {
    height: 222px;
    width: 150px;    
}

.vibiio-snapshot {
    position: relative;
    img {
        max-height: 222px;
        max-width: 150px;
    }
        &:after {
            background-image: url('../../../../assets/images/play.png');
            background-position: center;
            background-repeat: no-repeat;
            content: " ";
            height: 35px;
            width: 35px;
            z-index: 1;
            position: absolute;
            left: 40%;
            top: 45%;
        }
}

.snapshot-label {
    font-size: 18px;
    font-family: $base-font;
	font-weight: bold;
	line-height: 1.67;
    color: $pink;
    width: 150px;
}
.snapshot-label-container {
    margin-top: 13px;
}

.no-archives-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    font-size: 2rem;
    font-weight: 600;
}