@import '../../../../assets/css/_variables.scss';

.vibiio-archive-container {
    max-width: none;
}
.vibiio-snapshot-container {
    max-height: 222px;
    max-width: 150px;
    background-image: url('../../../../assets/images/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.vibiio-snapshot {
    max-height: 222px;
    max-width: 150px;
    z-index: 0;
}

.snapshot-label {
    font-size: 18px;
    font-family: $base-font;
	font-weight: bold;
	line-height: 1.67;
	color: $pink;
}
.snapshot-label-container {
    margin-top: 13px;
}