@import '~assets/css/variables';

.m-expert-added-notification {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: $white;
  border-bottom: 1px solid $placeholder-grey;
}

.a-expert-added-notification__text {
  color: $grey;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
}

