@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800');
@import '../../../../assets/css/variables';

.select-wrapper {
  width: 392px;
  margin: 0 auto;
  margin-bottom: 15px;
}

p {
  font-size: 1.4rem;
  font-weight: bold;
  color: $pink;
}

span.pink-underline {
  width: 31px;
  display: block;
  border-bottom: 3px solid $pink;
  &:hover {
    -webkit-transition: width .5s; /* Safari */
  transition: width .5s;
  width: 100%;
  display: block;
  border-bottom: 3px solid $pink;
  }
}