<form ng-submit="onSubmit(note?.body)"
      #newNoteForm>
  <div class="notes-container">
    <textarea vibAutosize class="note-body" 
         [(ngModel)]="note.body"
         contenteditable="true" 
         type="text"
         placeholder="Type your notes here"
         id="body"
         name="body"
         (keydown.shift.enter)="false">
    </textarea>
    
    <button type="submit"
      class="button button-primary button-sm"
      (click)="onSubmit(note?.body)">
      save
    </button>
  </div>
</form>