<div class="flex
            flex-bottom">
  <h1 class="col-xs
  col-md-offset-1
  profile-title
  pink">My profile</h1>
  
  <h4 *ngIf="!isEditing"
      class="col-md-offset-4
             edit-text"
      (click)=editMyProfileForm()>EDIT</h4>

  <h4 *ngIf="isEditing"
      class="col-md-offset-4
             save-text"
      [ngClass]="{ 'save-after-element': isSaving }"
      (click)=saveMyProfileForm()>SAVE</h4>
  
  <h4 *ngIf="isEditing"
      class="cancel-text"
      (click)="resetMyProfileForm()">CANCEL</h4>

</div>

<div class="flex">
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              profile-information" >
    <profile-information
      [myProfile]="myProfile"></profile-information>
  </div>
  <div class="col-xs-12
              col-sm-6
              col-md-5
              profile-licensure">

    <vib-profile-licensure
          [licenses]="myLicenses"></vib-profile-licensure>

    <div class="add-license">
      <img src="../../../../assets/images/add.svg"
          (click)="toggleLicensureForm()"
           class="add">
      <span class="add-text"
            (click)="toggleLicensureForm()">ADD LICENSE</span>
    </div>

    <div *ngIf="(addLicensureForm)">
      <profile-new-licensure
              (sumbitLicenseForm)="createLicense($event)"></profile-new-licensure>
    </div>        
  </div>
</div>
