<h1 class="col-xs
           col-md-offset-1
           profile-title
           pink">My profile</h1>
<div class="flex" >
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              profile-information" >
    <profile-information
      [myProfile]="myProfile" ></profile-information>
  </div>
  <div class="col-xs-12
              col-sm-6
              col-md-5
              profile-licensure">
      <profile-licensure
          [myProfile]="myProfile" ></profile-licensure>
  </div>
</div>
