<div class="flex
            flex-bottom my-profile-header">
  <h1 class="col-xs
  col-md-offset-1
  profile-title
  pink">My profile</h1>
 
  <div class="save-cancel-container" *ngIf="isEditing">
    <h4 class="save-text"
        [ngClass]="{ 'save-after-element': isSaving }"
        (click)=saveForms()>SAVE</h4>
    
    <h4 class="cancel-text"
        (click)="resetForms()">CANCEL</h4>
  </div>

</div>

<div class="flex">
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              profile-information">

    <vib-profile-information [myProfile]="myProfile"></vib-profile-information>
    
    <vib-profile-languages [languages]="myProfile.profile.languages"
                           [availableLanguages]="availableLanguages"
                           (updateLanguages)="updateLanguages($event)"></vib-profile-languages>

  </div>
  <div class="col-xs-12
              col-sm-6
              col-md-5
              profile-licensure">

    <div class="info-element" >
            <h2>licensure</h2>
            <div class="long-pink-underline"></div>
    </div>
    
    <div class="restrict-height"
            id="scrollbar">
        <vib-profile-licensure *ngFor="let license of myLicenses"
                            [license]="license">
        </vib-profile-licensure>
    </div>

    <div class="add-license">
      <img src="../../../../assets/images/add.svg"
          (click)="toggleLicensureForm()"
           class="add">
      <span class="add-text"
            (click)="toggleLicensureForm()">ADD LICENSE</span>
    </div>

    <div *ngIf="addLicensureForm">
      <profile-new-licensure
        (closeForm)="closeForm($event)"
        (sumbitLicenseForm)="createLicense($event)"
      ></profile-new-licensure>
    </div>
    
    <div class="info-element">
      <h2>notifications</h2>
      <div class="long-pink-underline" ></div>
    </div>

    <div class="info-element row between-xs bottom-xs" (click)=toggleReceiveTexts()>
      <span class="label">Text Notifications</span>
      <div class="availability-container" *ngIf="(receivingTexts); else off">
          <div class="availability-icon-on"></div>
          <div class="availability-message">
            ON
          </div>
        </div>
      
        <ng-template #off>
          <div class="availability-container">
            <div class="availability-icon-off"></div>
            <div class="availability-message">
              <span class="pink">OFF</span>
            </div>
          </div>
        </ng-template>
      <span class="pink-underline"></span>  
    </div>

  </div>
</div>
