@import '~assets/css/variables';

.expert-search-result-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;

    .details-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .name {
            color: $grey;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 700;	
            line-height: 17px;
        }
        .profession {
            color: $blue;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 700;	
            line-height: 7px;
            margin-top: .5em;
        }
    }
    .add-container {
        display: flex;
        .text {
            color: $pink;
            font-family: 'Roboto';
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 17px;
            text-align: right;
            text-transform: uppercase;
        }
        .add-icon {
            height: 17px;
            width: 17px;
            margin-left: 5px;
            background-image: url(~assets/images/pink-add.png);
            background-position: top;
            background-repeat: no-repeat
        }
    }
}
