@import '~assets/css/variables';

.search-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.search-icon {
    padding: 3px;
    background-image: url(~assets/images/search.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
    width: 8rem;
    margin-bottom: 0;
    margin-left: 1rem;
    background-color: #00aded;
    border: none;
    border-radius: .5rem;
    color: white;
    -webkit-transition: all ease 200ms;
    transition: all ease 200ms;
    cursor: pointer;
}

input {
    background-color: #f1f1f1;
    font: $base-font;
    font-weight: 600;
    font-size: 2rem;
    color: black;
    height: 4rem;
    border: none;
}