@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800');
@import '../../../../assets/css/variables';
@import "../../../../assets/css/include-media";

button {
  height: 75px;
  width: 400px;
  color: #fff;
  font-family: $copy-font;
  font-size: 1.6rem;
  font-weight: 600px;
  line-height: 1.62;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $blue;
  border-radius: 5px;
  border-width: 0;
  margin-top: 25px;
}

@include media('<450px') {
  button {
    width: 100%;
  }
}
