  <form [formGroup]="editForm">
        <div class="dropdown-style">
                <select (ngModel)="policy.carrier"
                        formControlName="carrier"
                        #carrier
                        jcf>
                  <option [value]="policy.carrier">{{ policy.carrier }}</option>
                  <option *ngFor="let provider of insuranceProviderList" [value]="provider.value">{{ provider.label }}</option>
                </select>
                <span class="pink-underline"></span>
              
                <div *ngIf="editForm.get('carrier').invalid && !editForm.get('carrier').pristine" class="error-message">
                  <p>Provider is Required</p>
                </div>
              </div>
        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
            <span class="label">Policy Number</span>
            <input  formControlName="policy_number"
                    name="policy_number"
                    placeholder="Policy Number"
                    type="text"
                    class="value end-md"
                    id="policy_number">
            <span class="pink-underline"></span>
            <div *ngIf="checkErrors(editForm.get('policy_number'))"
                 class="error-message">
                <p>Policy Number is Required</p>
            </div>  
        </div>
</form>
