@import '../../../../assets/css/_variables.scss';

.info-element {
    margin: 0px 0 20px 0;
    position: relative;
    padding-bottom: 10px;

    .label {
        font-family: $base-font;
        font-size: 1.65rem;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: $greyish-brown;
    }

    .value {
        font-family: $copy-font;
        font-size: 1.45rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: $greyish-brown;
        -webkit-appearance: none;
        border: none;
        max-width: 50%;
    }
}

.pink-underline {
    width: 7%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid $pink;
}

.error-message {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    p {
        color: red;
        font-family: $copy-font;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px; 
    }
}