  <form [formGroup]="editForm">
        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
            <span class="label">Provider</span>
              <input formControlName="carrier"
                     name="carrier" 
                     placeholder="Provider"
                     type="text" 
                     class="value end-md" 
                     id="provider">
            <span class="pink-underline"></span>
            <div *ngIf="checkErrors(editForm.get('carrier'))"
                 class="error-message">
                <p>Provider is Required</p>
            </div>
        </div>

        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
            <span class="label">Policy Number</span>
            <input  formControlName="policy_number"
                    name="policy_number"
                    placeholder="Policy Number"
                    type="text"
                    class="value end-md"
                    id="policy_number">
            <span class="pink-underline"></span>
            <div *ngIf="checkErrors(editForm.get('policy_number'))"
                 class="error-message">
                <p>Policy Number is Required</p>
            </div>  
        </div>
</form>