<div [@slideUpDown]
     ngDraggable class="vibiiographer-call-container">
    <vib-video-chat [vibiio]="vibiio"
                    [vibiioConnecting]="vibiioConnecting"
                    [onVibiio]="onVibiio"
                    [showControls]="showControls"
                    [vibiioFullscreen]="vibiioFullscreen"
                    (updateVibiioStatus)="updateStatus($event)"
                    (toggleFullscreen)="toggleVibiioFullscreen()"
                    (add)="addExpert($event)"
                    (endCall)="endSession()"
                    (mute)="toggleMute()"
                    (exitSearch)="toggleSearch()"
                    [consumerName]="consumerName"
                    [expertName]="expertName"
                    [expertFullName]="expertFullName"
                    [enableFullscreen]="enableFullscreen">
    </vib-video-chat>
</div>
