@import '../../../../assets/css/_variables.scss';

vib-new-vibiio-note, vib-existing-vibiio-note {
  width: 100%;
  padding-bottom: 15px;
}

.note-wrapper {
  border-radius: 5px;
  width: 370px;
}

.active-form-border {
    border: solid 3px $pink;
}