<div class='sidebar'>
  <div class="row
              between-xs">
    <div class="logo-container"></div>
    <div class="hamburger"
         (click)="toggleSidebar()">

      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <span *ngIf="sidebarVisibility">
    <div class="title-row">
    <a routerLink="my-vibiios"
            routerLinkActive="active">
        <div class="title">
          My Scheduled vibiios
        </div>
    </a>
    <div class="arrow"
         [class.left-arrow]='scheduledVibiiosVisibility'
         [class.active-arrow]='!scheduledVibiiosVisibility'
         (click)='toggleScheduledVibiios($event)'>
    </div>
  </div>
  <app-sidebar-schedule *ngFor="let vibiio of myScheduledVibiios"
                        [vibiio]="vibiio"
                        [hidden]="scheduledVibiiosVisibility"></app-sidebar-schedule>
  <div class="title-row"
       (click)='toggleCustomerCategoryVisibility($event)'>
    <div class="title">
      All Customers
    </div>
    <div class="arrow"
        [class.left-arrow]='customerCategoryVisibility'
        [class.active-arrow]='!customerCategoryVisibility'>
    </div>
  </div>

  <app-sidebar-customer
    *ngFor="let customersCategory of customersCategories;"
    [category] = customersCategory
    [hidden] ='customerCategoryVisibility'>
  </app-sidebar-customer>

  <div class="title-row"
       (click)='toggleProfileVisibility($event)'>
      <div class="title">
          <a routerLink="my_profile" routerLinkActive="active">
              My Profile
          </a>
    </div>
    <div class='arrow'
         [class.left-arrow]='profileVisibility'
         [class.active-arrow]='!profileVisibility'>
    </div>
  </div>
  </span>
</div>
