<div class='sidebar'>
  <div class="row
              between-xs">
    <a [routerLink]="['/dashboard/my-vibiios']">
      <div class="logo-container"></div>
    </a>
    <div class="hamburger" 
         (click)="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="row
              betweeen-xs" 
       (click)=toggleAvailability()>

    <div class="availability-container"
         *ngIf=(available)>
      <div class="availability-icon-on"></div>
      <div class="availability-message">
        <span class="icon">👋</span> I’m available!
      </div>
    </div>

    <div class="availability-container"
         *ngIf=(!available)>
      <div class="availability-icon-off"></div>
      <div class="availability-message">
        <span class="icon">️️️✌️</span> I’m outta here
      </div>
    </div>
  </div>

  <span [ngClass]="{'hidden':!sidebarVisibility}">
    <div class="title-row">
      <a routerLink="my-vibiios"
         routerLinkActive="active">
        <div class="title">
          My Scheduled vibiios
        </div>
      </a>
      <div class="arrow left-arrow"
           [class.active-arrow]='!scheduledVibiiosActive'
           (click)='toggleScheduledVibiios($event)'>
      </div>
    </div>
    <vib-sidebar-schedule *ngFor="let vibiio of myScheduledVibiios"
                          [timeZone]="userTimeZone"
                          [vibiio]="vibiio"
                          [hidden]="!scheduledVibiiosActive"></vib-sidebar-schedule>
    <div class="title-row"
         (click)='toggleCustomerCategories()'
         [routerLink]="['./all-consumers', '']">
      <div class="title clickable">
        All Customers
      </div>
      <div class="arrow left-arrow"
           [class.active-arrow]='customerCategoriesActive'>
      </div>
    </div>

    <vib-sidebar-customer *ngFor="let customersCategory of customersCategories;"
                          [category]=customersCategory
                          [hidden]='!customerCategoriesActive'>
    </vib-sidebar-customer>

    <div class="title-row"
         (click)="toggleProfile()">
      <div class="title">
        <a routerLink="my_profile"
           routerLinkActive="active">
          My Profile
        </a>
      </div>
      <div class='arrow left-arrow'
           [class.active-arrow]='profileActive'
           routerLink="my_profile">
      </div>
    </div>

    <div class="title-row"
         (click)="toggleExperts()">
      <div class="title">
        <a routerLink="experts"
           routerLinkActive="active">
          Experts
        </a>
      </div>

      <div class='arrow left-arrow'
           [class.active-arrow]='expertsActive'
           routerLink="experts">
      </div>
    </div>

    <div class="title-row"
         (click)="toggleVibiiographers()">
      <div class="title">
        <a routerLink="vibiiographers"
           routerLinkActive="active">
          Vibiiographers
        </a>
      </div>

      <div class='arrow left-arrow'
           [class.active-arrow]='vibiiographersActive'
           routerLink="vibiiographers">
      </div>
    </div>

  </span>
  <div class="title-row">
    <div class="title clickable"
         (click)="logout()">
      Sign out
    </div>
  </div>

  <div class="title-row last">
    <vib-expert-search></vib-expert-search>
  </div>

  <div class="title-row last">
    <!-- <vib-video-controls></vib-video-controls>  -->
    <div ngDraggable #call></div>
  </div>
</div>