<div class="col-md-9
            my-vibiio-container
            col-md-offset-1">
  <h1 class="col-xs
             pink">All customers</h1>

  <div class="flex">
          <!--<consumer-profile-title [consumerProfile]="consumerProfile"></consumer-profile-title>-->
<!--insert 'profile and vibiio titles-->
        <div class="consumer-profile-container">
          <consumer-profile [consumerProfile]="consumerProfile"></consumer-profile>
          <video-archive [snapshot]="consumerProfile.snapshots"></video-archive>
        </div>
  </div>
</div>