@import '../../../../assets/css/variables';

.vibiio-profile-container {
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: $base-font;
    font-weight: 400;
    font-size: 4.2rem;
	line-height: 1.22;
	letter-spacing: -2px;
    text-transform: none;
}

h2 {
    font-family: $base-font;
    font-size: 3.375rem;
    font-weight: 700; color: $blue;
    line-height: 1.3;
    margin-bottom: 15px;
    &.customer-notes {
      margin-top: 14px;
    }
}
.edit-button-row {
    justify-content: flex-end;
    h4 {
        height: 18px;
        font-family: $copy-font;
        font-size: 13px;
        font-weight: 800;
        letter-spacing: 1px;
        text-align: right;
        cursor: pointer;
        &.save-text{
            color: $blue;
            overflow-y: hidden;
            text-align: start;
            width: 100px;
        }
        &.cancel-text{
            color: $pink;
            margin-left: 26px;
        }
        &.edit-text{
            color: $pink;
        }
    }
}

.save-after-element::after {
    animation: ellipsis .01s steps(1) 2s;
    content: "D";
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    animation-duration: 4s;
}
    @keyframes ellipsis {
    0% { width: 2ch; }
}

.info-element {
    .label {
        color: $blue;
    }
    &.sub-heading {
        margin-bottom: 20px;
    }
    &.no-margin-bottom {
        margin-bottom: 0;
    }
}

.pink-underline {
    width: 9%;
    border-bottom: 3px solid $pink;
    bottom: 0;
    left: 0;
    position: absolute;
}

.vibiio-profile-information h2 {
	font-family: $base-font;
    font-size: 3.75rem;
	font-weight: 700;
    letter-spacing: normal;
	color: $azure;
    line-height: 1.55;
}

.notes-row {
    margin-bottom: 103px;
    display: flex;
    flex-direction: row;
    &.on-playback { 
        margin-top: 0;
    }
}

.note-row {
    display: flex;
    flex-direction: column;
}
