<div class="col-md-9
            my-vibiio-container
            col-md-offset-1">
  <h1 class="col-xs
             pink">{{ consumerProfile.user_info.first_name}} {{ consumerProfile.user_info.last_name}}</h1>

  <div class="flex">
<!--insert 'profile and vibiio titles-->
    <div class="vibiio-profile-container">
      <div class="col-md-6">
        <div class="info-element sub-heading">
          <h2>profile</h2>
          <div class="long-pink-underline" ></div>
        </div>
        <consumer-profile [consumerProfile]="consumerProfile"
                          [vibiio]="consumerProfile"></consumer-profile>
      </div>

      <div class="col-md-offset-1">
        <div class="info-element sub-heading">
          <h2>vibiio</h2>
          <div class="long-pink-underline" ></div>
        </div>
        <video-archive [snapshots]="consumerProfile.snapshots"></video-archive>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="vibiio-profile-information notes-row">

      <div class="note-row col-md-6">
        <div class="info-element">
          <span class="label">Customer Notes</span>
          <span class="pink-underline"></span>
        </div>
        <vib-consumer-note [description]="description"></vib-consumer-note>
      </div>
      
      <div class="col-md-1">
      </div>

      <div class="note-row col-md-6">

        <div class="info-element">
          <span class="label">Vibiio Notes</span>
          <span class="pink-underline"></span>
        </div>
        <vib-consumer-notes [vibiio]="consumerProfile"
                            [notes]="notes"
                            (refreshNotes)="updateNotes(consumerProfile.id)"></vib-consumer-notes>
      </div>
        
    </div> 
  </div>
</div>
