<div class="col-md-9
            my-vibiio-container
            col-md-offset-1">
  <h1 class="col-xs
             pink
             bold">{{ consumerProfile.user_info.first_name}} {{ consumerProfile.user_info.last_name}}</h1>
  
    <div class="row edit-button-row">
      <h4 *ngIf="isEditing"
          class="col-md-offset-4
                 save-text"
          [ngClass]="{ 'save-after-element': isUpdating }"
          (click)=onFormUpdate()>SAVE</h4>

      <h4 *ngIf="isEditing"
          class="cancel-text"
          (click)="onCancel()">CANCEL</h4>
    </div>

  <div class="flex">
<!--insert 'profile and vibiio titles-->
    <div class="vibiio-profile-container">
      <div class="col-md-6">
        <div class="info-element sub-heading">
          <h2>profile</h2>
          <div class="header-pink-underline" ></div>
        </div>
        <vib-consumer-profile [consumerProfile]="consumerProfile"
                              [vibiio]="consumerProfile"
                              (editingForm)="onFormEdit($event)">
        </vib-consumer-profile>
      </div>

      <div class="col-md-offset-1">
        <div class="info-element sub-heading">
          <h2>vibiio</h2>
          <div class="header-pink-underline" ></div>
        </div>
        <video-archive [snapshots]="consumerProfile.snapshots"></video-archive>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="vibiio-profile-information notes-row">

      <div class="note-row col-md-6">
        <div class="info-element">
          <h2 class="label">vibiio description</h2>
          <span class="header-pink-underline"></span>
        </div>
        <vib-vibiio-description [description]="description"></vib-vibiio-description>
        
        <div class="info-element">
          <h2 class="label">customer notes</h2>
          <span class="header-pink-underline"></span>
        </div>

        <div *ngIf="contacts; else noContacts">
            <div *ngFor="let contact of contacts">
              <vib-customer-note [note]="contact"></vib-customer-note>
            </div>
          </div>
          <ng-template #noContacts>
            <p>No Customer Notes</p>
          </ng-template>

      </div>
      
      <div class="col-md-1">
      </div>

      <div class="note-row col-md-6">

        <div class="info-element">
          <h2 class="label">vibiio notes</h2>
          <span class="header-pink-underline"></span>
        </div>
        <vib-vibiio-notes [vibiioId]="consumerProfile.id"
                          [notes]="notes">
        </vib-vibiio-notes>
      </div>
        
    </div> 
  </div>
</div>
