@import 'variables';

.jcf-select {
    font-family: $base-font;
    font-size: 1.65rem;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $pink;
    width: 100%;
    background-color: $white;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

// initial text
.jcf-select .jcf-select-text {
    font-family: $base-font;
    font-size: 1.65rem;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $pink;
    // min-width: 327px;
    width: 100%;
    background-color: $white; 
    border: none;
}

// select opener icon
.jcf-unselectable .jcf-select-opener {
    background-image: url(assets/images/down-arrow-magenta.png);
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 50%;
    background-color: transparent;
}

//select dropdown
.jcf-select-drop .jcf-select-drop-content {
    border-left: solid 3px white;
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    border: none;
}

//dropdown box
.jcf-list-content {
    background-color: $pink;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    overflow: none;
}

//unselected dropdown rows
.jcf-list .jcf-option {
    font-family: $base-font;
    font-size: 1.65rem;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $white;
    min-width: 327px;
    width: 100%;
}

// selected dropdown row
.jcf-option.jcf-selected.jcf-hover {
    color: $pink;
    background-color: white;
}

// hovering dropdown row
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
    color: $pink;
    background-color: white;
 }

 // sort styles
.select-style {
    width: 145px;
    height: 35px;
    //initial container
    .jcf-select {
        width: 145px;
        height: 35px;
        padding-top: 7px;
        min-width: none;
        text-align-last: center;
        //initial text
        .jcf-select-text {
            border-radius: 5px;
            border: solid 3px $blue;
            padding-right: 12.5px;
            font-family: $copy-font;
            color: $blue;
            height: 35px;
            padding-top: 7px;
            margin-left: 8px;
            &.jcf-focus {
                border: solid 3px $blue !important;
            }
        }
    }
    // select opener icon
    .jcf-unselectable .jcf-select-opener {
        background-image: url(assets/images/down-arrow-cyan.png);
        background-repeat: no-repeat;
        background-position-x: 99%;
        background-position-y: 75%;
        background-color: transparent;
    }
}

.jcf-select-consumer-sort {
    //select dropdown
    .jcf-select-drop .jcf-select-drop-content {
        border: none;
    }

    &:focus {
        border: solid 3px $blue !important;
        outline: none;
    }
    //dropdown box
    .jcf-list-content {
        width: 162.5px;
        margin-left: 8px;
        min-width: none;
        background-color: $blue;
        border-left: solid 3px $blue;
        border-right: solid 3px $blue;
        border-bottom: solid 3px $blue;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    // selected dropdown row
    .jcf-option.jcf-disabled.jcf-selected {
        color: $blue !important;
        background-color: $white; 
    }

    // disabled row
    .jcf-option.jcf-disabled.jcf-selected {
        color: $blue;
        background-color: white;
    }
    .jcf-option.jcf-hover.jcf-selected {
        color: $blue;
        background-color: white;
    }
}

