
<appointment-details [appointment]="appointment"
                     [timeZone]="userTimeZone"
                     [user]="user"
                     [vibiio]="vibiio"
                     [onVibiio]="onVibiio"
                     [updateStatusReminder]="updateStatusReminder"
                     [neworkDisconnected]="neworkDisconnected"
                     (startVibiio)="connectToSession($event)"
                     (endVibiio)="endSession($event)"
                     (claimVibiio)="claimVibiio($event)">
</appointment-details>
