
<vib-appointment-details [appointment]="appointment"
                         [address]="address"
                         [timeZone]="userTimeZone"
                         [user]="user"
                         [vibiio]="vibiio"
                         [onVibiio]="onVibiio"
                         [isEditingForms]="isEditingForms"
                         [isUpdatingForms]="isUpdatingForms"
                         (startVibiio)="callConsumer()"
                         (refreshNotes)="updateNotes(appointment.id)"
                         (updateVibiioStatus)="updateVibiioStatus($event)"
                         (refreshAddress)="refreshAddress()"
                         (isEditing)="onEdit($event)"
                         (isUpdating)="onUpdate()">
</vib-appointment-details>