
<vib-appointment-details [appointment]="appointment"
                     [timeZone]="userTimeZone"
                     [user]="user"
                     [vibiio]="vibiio"
                     [vibiioConnecting]="vibiioConnecting"
                     [onVibiio]="onVibiio"
                     [neworkDisconnected]="neworkDisconnected"
                     (startVibiio)="connectToSession($event)"
                     (endVibiio)="endSession($event)"
                     (claimVibiio)="claimVibiio($event)"
                     (refreshNotes)="updateNotes(appointment.id)">
</vib-appointment-details>