@import '~assets/css/_variables.scss';
.call-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.subscriber-holder {
    width: 312px;
    height: 461.1px;
}
.on-fullscreen {
    z-index: 999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
}
.subscriber-stream {
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    .name-container {
        position: absolute;
        top: 25px;
        left: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    vib-video-controls {
        position: absolute;
        bottom: 15px;
        left: 0;
        z-index: 9;
        width: 100%;
    }
}

.fullscreen-button-container {
    position: absolute;
    top: 25px;
    right: 0;
    height: 40px;
    width: 40px;
    &.full {
        top: 0;
        right: 23%;
    }
    .fullscreen-button {
        margin-top: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        
        &.exit {
            height: 40px;
            width: 40px;
            background-image: url(~assets/images/fullscreen-exit-pink@3x.png);
        }

        &.full {
            height: 20px;
            width: 20px;
            background-image: url(~assets/images/fullscreen-enter-pink.svg);
        }
    }

        .fullscreen-icon {
            width: 20px;
            margin-right: 15px;
            margin-top: 10px;
        }
    
    .fs-button-position {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        margin: 10px;
    }
}
.waiting-text {
    max-height: 20px;
    align-self: flex-start;
    text-align: center;
    color: $pink;
    font-family: $base-font;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.16;
}
.waiting-house {
    height: 175px;
    width: 200px;
    margin: 35px auto;
    background-image: url(~assets/images/opening_slide.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

vib-video-controls.fullscreen-controls {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 45%;
}

.name-container {
    &.fullscreen-name-container {
        position: absolute;
        top: 0;
        left: 25%;
    }
}