<div class="call-container">

  <div class="house-container" *ngIf="vibiioConnecting">
    <div class="waiting-house"></div>
    <div class="waiting-text">Connecting...</div>
  </div>

  <div  [class.on-fullscreen]="vibiioFullscreen"
        [class.subscriber-holder]="(onVibiio && !vibiioFullscreen)"
        #fullSubscriberStream
        id="full">

    <div id="subscriber-stream" 
          [class.subscriber-stream]="(onVibiio && !vibiioFullscreen)"
          [class.on-fullscreen]="vibiioFullscreen">
      
      <div *ngIf="((consumerName || expertName) && onVibiio)"
            class="name-container"
            [class.fullscreen-name-container]="vibiioFullscreen">
        <vib-call-name-display *ngIf="(consumerName?.length > 0)" [name]="consumerName"></vib-call-name-display>
        <vib-call-name-display *ngIf="(expertName?.length > 0)" [name]="expertName"></vib-call-name-display>
      </div>
      
      <div *ngIf="(onVibiio && !vibiioConnecting)"
           class="fullscreen-button-container"
           [class.full]="vibiioFullscreen"
           (click)="toggleVibiioFullscreen()">

        <div class="fullscreen-button exit" *ngIf="(vibiioFullscreen)"></div>
        <div class="fullscreen-button full" *ngIf="(!vibiioFullscreen)"></div>
      </div>

      <vib-video-controls *ngIf="showControls"
                          [class.fullscreen-controls]="vibiioFullscreen"
                          (add)="addExpert()"
                          (endCall)="hangUp()"
                          (mute)="toggleMute($event)"></vib-video-controls>
                          
    </div>
  </div>
</div>

