@import '~assets/css/variables';

.search-filter-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    .filter {
        font-family: 'Montserrat';	
        font-size: 10px;	
        font-weight: 700;	
        line-height: 12px;	
        text-align: right;
        text-transform: capitalize;
        cursor: pointer;
        opacity: .30;
        color: $grey;
        &.active {
            opacity: 1;
        }
    }
}