.spinner-background-wrap {
	position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.25);
}

.wrap {
	width: 100%;
    position: absolute;
	top: 20%;
    margin: 0 auto;
}

.spinner-wrap {
	margin: auto;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
