@import '~assets/css/variables';

.search-row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    position: relative;
    justify-content: center;
}

.search-icon, .cancel-icon {
    position: absolute;
    object-fit: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    border: none;
    color: white;
    -webkit-transition: all ease 200ms;
    transition: all ease 200ms;
    cursor: pointer;
    outline: none;
}

.search-icon {
    top: 18px;
    right: 20px;
    width: 24px;
    height: 24px;
    background-image: url(~assets/images/search.svg);
}

.cancel-icon {
    width: 16px;
    height: 16px;
    top: 22px;
    right: 22px;
    background-image: url(~assets/images/cancel-search.svg);
}

input {
    max-height: 48px;
    height: 48px;
    border-radius: 5px;
    width: 100%;
    background-color: #F2F2F2;
    font-family: $base-font;
    font-weight: bold;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.33;
    color: $greyish-brown;
    border: none;
    padding-left: 16px;
    &::placeholder {
        color: #a5a5a5;
    }
}

input:focus {
    outline: none;
    border: solid 3px #ec008c;
    height: 42px;
    padding-left: 13px;
}
