<div class="col-xs-12
            col-sm-12
            col-md-9
            centered">
  <h1 class="col-xs
            col-md-offset-1
            pink">Welcome Jane!</h1>
  <p class="col-md-offset-1">
    💁 You have 1 vibiio scheduled Today–fill up your schedule by choosing vibiios below.
  </p>
  <div class="flex" >
    <div class="range-slider
                col-xs-12
                col-md-offset-1" >
      <nouislider [connect]="true"
                  [min]="0"
                  [max]="23"
                  [step]=".25"
                  [(ngModel)]="range"
                  (change)="onChange($event)"></nouislider>
    </div>
    <div class="profile-information">
       <customer-profile *ngFor="let appointment of appointments"
       [appointment]="appointment"></customer-profile>
    </div>
  </div>
</div>
