@import '../../../../assets/css/_variables.scss';

.centered {
    margin: 0 auto;
}
/deep/ .flex {
    display: flex;
    flex-direction: column;
}

/deep/ .jcf-range {
    width: 90%;
    margin: 0 auto;
}

.sliderToggle{
    color: $pink;
    font-size: 1.75rem;
    font-weight: 700;
}
