<div class="col-xs-12
            col-sm-12
            col-md-9
            centered">
  <h1 class="col-xs
            col-md-offset-1
            pink">Welcome Jane!</h1>
  <p class="col-md-offset-1">
    💁 You have 1 vibiio scheduled Today–fill up your schedule by choosing vibiios below.
  </p>
  <div class="flex" >
    <div class="range-slider
                col-xs-12
                col-md-offset-1" >
      Range: {{ (range[0] | amFromUnix) | amDateFormat:'hh:mmA'  }}
      {{ (range[1] | amFromUnix) | amDateFormat:'hh:mmA'  }}

      <nouislider [connect]="true"
                  [min]="rangeMin"
                  [max]="rangeMax"
                  [step]="900"
                  [(ngModel)]="range"
                  (change)="onChange($event)"></nouislider>
    </div>
    <div class="profile-information">
      <ng-container *ngFor="let appointment of appointments" >
        <customer-profile [appointment]="appointment"
                          (appointmentId)="appointmentId"
                          (updateAppointment)="updateAppointment($event)"
                          *ngIf="appointment.scheduled_datetime >= range[0] &&
                          appointment.scheduled_datetime <= range[1]"></customer-profile>
      </ng-container>
    </div>
  </div>
</div>
