@import '../../../../assets/css/_variables.scss';

.centered {
    margin: 0 auto;
}
/deep/ .flex {
    display: flex;
    flex-direction: column;
    @media(min-width: $small){
        flex-direction: row;
    }
}
