<div class="col-xs-12
            col-sm-12
            col-md-9
            col-md-offset-1
            my-vibiio-container">
  <h1 class="col-xs
             col-md-offset-1
             pink">Welcome, {{ vibiiographerName }}!</h1>
  <p class="col-md-offset-1
            welcomeText">
    💁 You have {{ myVibiioCount }} vibiio<span *ngIf="myVibiioCount > 1">s</span> scheduled today. Manage your schedule by selecting Vibiios from below.</p>
  
  <div *ngIf="appointments?.length >= 0">
    <div class="flex">
      <span class="sliderToggle
                  col-xs-12
                  col-md-offset-1">
        <p class="toggleText"
          (click)="toggleSliderVisibility()">Filter Requested Vibiios</p>
        <img (click)="toggleSliderVisibility()"
            class="upArrow"
            [class.downArrow]="downArrow"           
            src="assets/images/down-arrow-magenta.png" alt="down-arrow-magenta">
      </span>

      <div *ngIf="sliderVisibility"
          class="range-slider
                  col-xs-10
                  col-xs-offset-1
                  col-md-11
                  col-md-offset-1">

        <nouislider [config]="sliderConfig"
                    [(ngModel)]="range"
                    (change)="onChange($event)"
                    (set)="updateAppointments($event)"></nouislider>
      </div>
    </div>
  </div>

  <div class="flex">
    <div *ngIf="appointments?.length > 0" >
      <div class="profile-information"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="300"
          (scrolled)="scroll()">
        <ng-container *ngFor="let appointment of appointments; let i = index" >
          <customer-profile [appointment]="appointment"
                            [index]="i"
                            [timeZone]="todaysVibiios.user_time_zone"
                            [vibiiographerId]="vibiiographerId"
                            (appointmentId)="appointmentId"
                            (updateAppointment)="updateAppointment($event)"
                            *ngIf="appointment.scheduled_datetime >= range[0] &&
                                          appointment.scheduled_datetime <= range[1]"
                            class="customer-profile"></customer-profile>
        </ng-container>
      </div>
    </div>

    <div *ngIf="appointments?.length == 0"
          class="col-xs-12
                pink
                centered
                no-vibiio-text" >
      <p class="centered">No requested Vibiios at this time.</p>
    </div>

    <div *ngIf="(appointments == undefined)"
        class="col-xs-12
                pink
                centered
                no-vibiio-text">
      <p class="centered">No Vibiios scheduled at this time.</p>
      <p>Make yourself available for a live Vibiio, sit back and wait</p>
    </div>
  </div>
</div>
