<div class="col-xs
            col-md-offset-1">
  <div class="row
              info-element
              between-xs
              bottom-xs">
    <h2>{{ appointment.user.first_name}} {{ appointment.user.last_name}}</h2>
    <img src="../../../../assets/images/inactive.svg">
    <span class="pink-underline"></span>
  </div>
</div>
<div class="flex" >
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              profile-information">
      <div class="info-element
                  row
                  between-xs
                  bottom-xs" >
        <span class="label">Email</span>
        <span class="value end-xs">{{ appointment.user.email }}</span>
        <span class="pink-underline"></span>
      </div>

    <div class="info-element
                row
                between-xs
                bottom-xs" >
      <span class="label">Phone Number</span>
      <span class="value end-xs">{{ appointment.user.phone }}</span>
      <span class="pink-underline"></span>
    </div>

    <div class="info-element
                row
                between-xs
                bottom-xs" >
      <span class="label">Address</span>
      <span class="value end-md">{{ appointment.address.address_one}}</span>
      <span class="pink-underline"></span>
    </div>

    <div class="info-element
                row
                between-xs
                bottom-xs" >
      <span class="label">Zip Code</span>
      <span class="value end-md">{{ appointment.address.zip }}</span>
      <span class="pink-underline"></span>
    </div>

    <div class="info-element
                row
                between-xs
                bottom-xs" >
      <span class="label">Provider</span>
      <span class="value end-md">{{ appointment.insurance_policy.carrier }}</span>
      <span class="pink-underline"></span>
    </div>

    <div class="info-element
                row
                between-xs
                bottom-xs" >
      <span class="label">Policy Number</span>
      <span class="value end-md">{{ appointment.insurance_policy.policy_number }}</span>
      <span class="pink-underline"></span>
    </div>
  </div>
  <div class="col-xs-12
              col-sm-6
              col-md-5
              col-md-offset-1
              profile-information">
  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Claim ID</span>
    <span class="value end-md">#454787</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Vibiio Start Time</span>
    <span class="value end-md">{{ appointment.scheduled_datetime | date: 'shortTime' }}</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              last-info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Customer Notes</span>
    <span class="pink-underline"></span>
  </div>
  <div class="notes-element
              row
              between-xs
              bottom-xs">
    <p>{{ appointment.vibiio.description }}
    </p>
  </div>
</div>
