<div class="row customer-profile-container" >
  <div class="col-xs-12
              col-sm-10
              col-sm-offset-1
              col-md-12
              col-md-offset-0">

  <div class="customer-profile-header">
    <h2>Mark Mueller</h2>
    <span class="pink-underline"></span>
  </div>

  <div>

    <div class="info-element
                row
                between-xs
                bottom-xs" >
      <span class="label">Email</span>
      <span class="value end-xs">mark.mueller@gmail.com</span>
      <span class="pink-underline"></span>
    </div>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Phone Number</span>
    <span class="value end-xs">(123) 456-7890</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Address</span>
    <span class="value end-md">525 NW 1st Ave</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Zip Code</span>
    <span class="value end-md">33301</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Provider</span>
    <span class="value end-md">Sawgrass Mutual</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Policy Number</span>
    <span class="value end-md">1234567890</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Claim ID</span>
    <span class="value end-md">#454787</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Vibiio Start Time</span>
    <span class="value end-md">9 AM</span>
    <span class="pink-underline"></span>
  </div>

  <div class="info-element
              last-info-element
              row
              between-xs
              bottom-xs" >
    <span class="label">Customer Notes</span>
    <span class="pink-underline"></span>
  </div>
  <div class="notes-element
              row
              between-xs
              bottom-xs">
    <p>A tree fell on my house during a storm, damging
      the roof and the contents of my living/dining room
    </p>
  </div>

</div>
