<div class="box" >
  <div class="row" >
    <div class="col-xs-12
                col-sm-11
                col-sm-offset-1">
  <h2>licensure</h2>
  <h3>Florida</h3>

  <div class="info-element" >
    <div class="label" >Type</div>
    <div class="value end-xs" >Public</div>
  </div>

  <div class="info-element" >
    <div class="label" >Class</div>
    <div class="value end-md" >0620-Adjuster-All Lines</div>
  </div>

  <div class="info-element" >
    <div class="label" >Issue Date</div>
    <div class="value end-md" >05/19/2017</div>
  </div>

  <div class="info-element" >
    <div class="label" >License Number</div>
    <div class="value end-md" >AV123456</div>
  </div>
    </div>
  </div>
</div>
