<div class="info-element" >
  <h2>add license</h2>
  <div class="long-pink-underline" ></div>
</div>

<form [formGroup]="myLicenseForm"
      ngSubmit="onSubmit()">
    <div *ngIf="myLicenseForm.get('state').invalid && !myLicenseForm.get('state').pristine"
          class="error-message">
      <p>State is Required</p>
    </div>

    <div class="info-element
                row
                between-xs
                bottom-xs">
      <span class="label">State</span>
      <input
            formControlName="state" 
            placeholder="State"
            type="text" 
            class="value end-md" 
            id="state">
      <span class="pink-underline"></span>  
    </div>
    
    <div *ngIf="myLicenseForm.get('licenseNumber').invalid && !myLicenseForm.get('licenseNumber').pristine"
          class="error-message">
      <p>License Number is Required</p>
    </div>
    
    <div class="info-element
      row
      between-xs
      bottom-xs">
      <span class="label">License Number</span>
      <input
          formControlName="licenseNumber" 
          placeholder="License Number"
          type="text" 
          class="value end-md" 
          id="licenseNumber">
      <span class="pink-underline"></span>  
    </div>

    <div class="add-license"(click)="onSubmit()">
      <img src="../../../../assets/images/add.svg"
      class="add">
      <span class="add-text">SUBMIT</span>
    </div>
</form>
