<div class="info-element" >
  <h2>licensure</h2>
  <div class="long-pink-underline"></div>
</div>

<div class="restrict-height" id="scrollbar">
    <form [formGroup]="editForm"
          ngSubmit="onSubmit()"
          novalidate>
        <div *ngIf="editForm.get('state').invalid && !editForm.get('state').pristine"
              class="error-message">
          <p>State is Required</p>
        </div>
        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
        <span class="label">State</span>
        <input [(ngModel)]="license.state"
                formControlName="state" 
                placeholder="State"
                type="text" 
                class="value end-md" 
                id="state">
        <span class="pink-underline"></span>
        </div>
        
        <div *ngIf="editForm.get('license_number').invalid && !editForm.get('license_number').pristine"
              class="error-message">
          <p>License Number is Required</p>
        </div>
        <div class="info-element
                    row
                    between-xs
                    bottom-xs">
          <span class="label">License Number</span>
          <input [(ngModel)]="license.license_number"
                formControlName="license_number" 
                placeholder="License Number"
                type="text" 
                class="value end-md" 
                id="license_number">
          <span class="pink-underline"></span>
          </div>
    </form>
</div> 
      <!-- <div class="license-style">
        <key-value [key]="'State'"
        [value]="license.state"></key-value>
        <key-value [key]="'License Number'"
        [value]="license.license_number"></key-value>
      </div> -->