<div class="info-element" >
  <h2>licensure</h2>
  <div class="long-pink-underline" ></div>
</div>

<div class="info-element
            row
            between-xs
            bottom-xs" >
  <div class="label" >Type</div>
  <div class="value end-xs" >Public</div>
  <div class="pink-underline" ></div>
</div>

<div class="info-element
            row
            between-xs
            bottom-xs" >
  <div class="label" >Class</div>
  <div class="value end-md" >0620-Adjuster-All Lines</div>
  <div class="pink-underline" ></div>
</div>

<div class="info-element
            row
            between-xs
            bottom-xs" >
  <div class="label" >Issue Date</div>
  <div class="value end-md" >05/19/2017</div>
  <div class="pink-underline" ></div>
</div>

<div class="info-element
            row
            between-xs
            bottom-xs" >
  <div class="label" >License Number</div>
  <div class="value end-md" >AV123456</div>
  <div class="pink-underline" ></div>
</div>
