@import '../../../../assets/css/_variables.scss';

.info-element {
    margin: 0px 0 20px 0;
    position: relative;
    padding-bottom: 10px;
}

.restrict-height {
    max-height: 250px;
    overflow-y: scroll;
}