<div class="box" >
  <div class="row" >
    <div class="col-xs-12
                col-sm-10
                col-sm-offset-1
                col-md-12
                col-md-offset-0">
<h2>information</h2>

<div>
  <div class="info-element
              row
              between-xs
              bottom-xs" >
      <span class="label">Name</span>
      <span class="value end-xs">Freddy Fore Fingers</span>
      <span class="pink-underline" ></span>
  </div>
  </div>
  <div class="info-element" >
    <span class="label">Company</span>
    <span class="value end-md">Fred's Finger Fry</span>
  </div>
  <div class="info-element" >
    <span class="label">Phone Number</span>
    <span class="value end-md">555-555-5555</span>
  </div>
  <div class="info-element" >
    <span class="label">Address</span>
    <span class="value end-md">555 Yeehaw Rd.</span>
  </div>
  <div class="info-element" >
    <span class="label">Zip</span>
    <span class="value end-md">55555</span>
  </div>
  <div class="download">Download Signed Agreement</div>
    </div>
  </div>
</div>
