@import '../../../../assets/css/_variables.scss';

form {
  text-align: center;
  font-size: 1.6rem;
  font-family: $base-font;

  input {
    border-bottom: 2px solid $pink;
    border-top: none;
    border-right: none;
    border-left: none;
    line-height: 1.67;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 50%;
    width: 399px;
  }

  #validation-container {
      min-height: 3em;
      width: 100%;
      transform: translateY(60px);
      color: $pink;

      div {
          margin: 0 auto;
          width: 100%;

          &:after {
              content: "\A";
              white-space: pre;
          }
      }
  }

  #button-container {
      transform: translateY(150px);
    .box {
        margin: 0 auto;
        width: 100%;
        &#reset {
        }
        &:after {
            content: "\A";
            white-space: pre;
        }
    }
  }
  #cancel {
      background-color: $pink;
  }
}

.invisible {
    display: none;
}
