@import '../../../../assets/css/_variables.scss';

form {
  text-align: center;
  font-size: 1.6rem;
  font-family: $base-font;

  input {
    border-bottom: 2px solid $pink;
    border-top: none;
    border-right: none;
    border-left: none;
    line-height: 1.67;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 50%;
    width: 399px;
    margin: 0 0 114px 0;
  }
  errors {
      display: none;
  }
  invisible {
      display: none;
  }
  button {
      margin-bottom: 13px;
  }
  #cancel {
      background-color: $pink;
  }
}
