<div *ngIf="resetAction ==='reset-submission'">
  <form #form="ngForm"
        novalidate>
    <div [class.invisible]="resetResponse" >
      <input type="email"
             name="email"
             [ngModel]="credentials?.email"
             #email = "ngModel"
             placeholder="Enter Email"
             pattern="^[a-zA-Z0–9\_\.\+\-]+\@[a-zA-Z0–9\-]+\.[a-zA-Z0–9\-\.]+$"
             (blur)="onBlur($event, email)"
             required>
      <div class="row" id="validation-container">
        <div [class.invisible]="!(!emailValid && email.touched)"
             class="invisible">
          🤔 A valid email address is required
        </div>
       </div>
      <div id="button-container" class="row">
        <div class="box">
          <div class="center-xs">
            <button type="submit"
                    class="button button-primary"
                    id="reset"
                    (click)="reset(form.value, form.valid)"
                    [disabled]="!email.valid">RESET PASSWORD</button>
          </div>
        </div>
        <br />
        <div class="box">
          <div class="center-xs">
            <a routerLink="/sign_in">
              <button class="button button-primary"
                      id="cancel">CANCEL</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div [class.invisible]="!resetResponse">
      <div class="box">
        <div class="center-xs">
          <a routerLink="/sign_in">
            <button class="button button-primary">LOGIN</button>
          </a>
        </div>
      </div>
      <br />
      <div class="box">
        <div class="center-xs">
          <button class="button button-primary"
                  (click)="reset(form.value, form.valid)"
                  id="cancel">SEND AGAIN</button>
        </div>
      </div>
    </div>
  </form>
</div>


<div *ngIf="resetAction =='new-pw'"
     class="pw-reset">
  <form #pwReset="ngForm"
        (ngSubmit)="submitPw(pwReset.valid, pwReset.value)">
    <div class="box" >
      <input type="password"
            name="pw"
            [ngModel]="password"
            placeholder="New Password..."
            minlength="8"
            #pw="ngModel"
             required>
    </div>

    <div class="box">
     <input type="password"
           name="confirmPw"
           [ngModel]="passwordConfirmation"
           placeholder="Password Confirmation..."
           #confirmPw="ngModel">
    </div>

    <div *ngIf="pw.errors && pwReset.submitted">
      <p [hidden]="!pwReset.submitted && pw.errors.required">Password Required</p>
      <p [hidden]="!pw.errors.minlength">Password too Short</p>
      <p [hidden]="pw === confirmPw" >Passwords do not Match</p>
    </div>
        <div class="center-xs">
          <button type="submit"
                  class="button button-primary">Submit</button>
        </div>
  </form>
</div>

<div *ngIf="resetAction === 'submitted'"
     class="box
            center-xs">
    <a (click)="toLogin()">
          <button class="center-xs
                        button
                        button-primary" >Back to Login</button>
    </a>
</div>
