<div class="col-md-9
            my-vibiio-container
            col-md-offset-1">

  <vib-consumer-profiles-filters [displayStatus]="displayStatus"></vib-consumer-profiles-filters>

  <div class="flex">
    <div class="search-and-sort">
      <vib-search-box (queryEmitter)="search($event)"></vib-search-box>
      <ng-template #noResults>
        <p class="col-md-3
          welcomeText"> No Customers match that status.</p>
      </ng-template>

      <vib-sort-button [sortTypes]="sortTypes" (sortConsumers)="sortConsumers($event)">
      </vib-sort-button>
    </div>
  </div>

  <div *ngIf="(consumerProfiles?.length > 0); else noResults" class="consumer-profiles-container">


    <div *ngFor="let consumerProfile of consumerProfiles |
         orderBy: {property: property, direction: direction}">
      <div class="flex">

        <vib-consumer-profile-row 
          [consumerProfile]="consumerProfile">
        </vib-consumer-profile-row>

      </div>
    </div>
  </div>
</div>
