@import '../../../../assets/css/_variables.scss';

.my-vibiio-container {
    top: 100px;
}
/deep/ .flex {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    font-size: 4.2rem;
	line-height: 1.22;
	letter-spacing: -2px;
    text-transform: none;
}

.consumer-profile-container {
    display: flex;
    flex-direction: row;
    video-archive {
        display: flex;
    }
}

.consumer-profile-detail {
    padding: 0;
}

