<div class="col-xs-12
            col-sm-12
            col-md-9
            my-vibiio-container">
  <h1 class="col-xs
             col-md-offset-1
             pink">All customers</h1>


      <ng-container *ngFor="let consumerProfile of consumerProfiles" >
  <div class="consumer-profile-container">
    
        <consumer-profile [consumerProfile]="consumerProfile"></consumer-profile>
        <video-archive [snapshot]="consumerProfile.snapshots"></video-archive>
  </div>
      </ng-container>
</div>
