@import '~assets/css/variables';

.container {
    width: 100%;
    height: 60px;
    .row {
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        .control-icon {
            .mute {
                height: 40px;
                width: 40px;
                background-image: url(~assets/images/mute.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .unmute {
                height: 40px;
                width: 40px;
                background-image: url(~assets/images/unmute.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .end-call {
                height: 50px;
                width: 50px;
                background-image: url(~assets/images/end-call.png);
                background-size: contain;
                margin: 0 20px;
                background-repeat: no-repeat;
            }
            .add {
                height: 40px;
                width: 40px;
                background-image: url(~assets/images/add-to-call.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}