/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800');

@import 'assets/css/variables';
@import "~nouislider/distribute/nouislider.min.css";
@import "assets/css/jcf-overrides";
@import "assets/css/include-media";

// for media queries
$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

html {
    font-size: 62.5%;
    margin: 0;
}
body {
    font-family: $base-font;
    margin: 0;
}
p {
  font-family: $copy-font;
}
h1 {
  color: $blue;
  font-family: $base-font;
  font-weight: 400;
}
a {
  color: $pink;
  text-decoration: none;
  cursor: pointer;
}
.button {
  height: 75px;
  width: 400px;
  color: #fff;
  font-family: $copy-font;
  font-size: 1.6rem;
  font-weight: 600px;
  line-height: 1.62;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 5px 10px #bbbbbb;
  }
}
@include media('<450px') {
  .button {
    width: 100%;
  }
}
.button-primary {
  background-color: $blue;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 5px 10px #bbbbbb;
  }
}
.button-danger {
  background-color: $pink;
  border-width: 0;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 5px 10px #bbbbbb;
  }
}
.disabled {
  opacity: 0.4;
}
.logo {
  width: 263px;
  height: 75px;
  color: red;
  background: url(./assets/images/logo.svg) no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.holder {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 100%;
  width: 100%;
}
.welcome {
  margin: 75px 0 30px 0;
  h1 {
    font-size: 5.0rem;
    line-height: 1.22;
    letter-spacing: -2px;
    text-align: center;
    color: $pink;
    margin: 0;
  }
}
.message {
  margin: 0 0 60px 0;
  p {
    color: $grey;
    font-size: 1.7rem;
    line-height: 1.41;
    text-align: center;
  }
}
.pink {
    color: $pink;
}

.m-top-md {
  margin-top: 1em;
}
