<div class="row">
  <vib-sidebar [available]="userAvailability"
               class="col-xs-12
                      col-md-3
                      side-bar-component">
  </vib-sidebar>

  <div class="col-xs-12
              col-md-9
              dashboard-outlet">
    <div class="notification-holder" 
          id="scrollbar" 
          *ngIf="notificationDrawerVisibility">          
      <span *ngFor="let consumer of waitingConsumers; let index = index">
          <vib-appointment-notification
              [rowIndex]="index"
              [notificationData]="consumer['consumerData']"></vib-appointment-notification>
      </span>
    </div> 
     
    <div class="notification-drawer" *ngIf="userAvailability">
      <div class="message">
        <div *ngIf="!notificationDrawerVisibility">
            <span *ngIf="waitingConsumers.length > 1">{{ waitingConsumers.length }} customers are requesting live videos! Answer one now.</span>
            <span *ngIf="waitingConsumers.length == 1">One customer is requesting a live video! Answer it now.</span>
            <span *ngIf="waitingConsumers.length == 0">There are no customers requesting live videos!</span>
        </div>

        <div *ngIf="notificationDrawerVisibility">
            <span *ngIf="waitingConsumers.length > 1">Viewing all {{ waitingConsumers.length }} live video requests.</span>
            <span *ngIf="waitingConsumers.length == 1">Viewing one live video request.</span>
            <span *ngIf="waitingConsumers.length == 0">There are no customers requesting live videos!</span>
        </div>
      </div>

      <div class="button-wrap"
           (click)='toggleNotificationDrawerVisibility($event)'>
        <span class="button-label" *ngIf="!notificationDrawerVisibility">SHOW</span>
        <span class="button-label" *ngIf="notificationDrawerVisibility">HIDE</span>

        <div class="arrow drawer-button"
             [class.down-arrow]='!notificationDrawerVisibility'
             [class.active-arrow]='notificationDrawerVisibility'>
        </div>
      </div>
    </div>     
    <router-outlet></router-outlet>
  </div>
</div>
