@import '../../../../assets/css/_variables.scss';

.add-policy {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    .add-text {
        margin-left: 8px;
        width: 118px;
        height: 18px;
        font-family: $copy-font;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        color: $pink;
    }
}

.flex {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    h4 {
        height: 18px;
        margin: 0 auto 20px;
        font-family: $copy-font;
        font-size: 13px;
        font-weight: 800;
        letter-spacing: 1px;
        text-align: right;
        cursor: pointer;
        &.save-text{
            color: $blue;
            overflow-y: hidden;
            text-align: start;
            width: 100px;
        }
        &.cancel-text{
            color: $pink;
            margin-left: 26px;
        }
    }
}

.save-after-element::after {
    animation: ellipsis .01s steps(1) 2s;
    content: "D";
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    animation-duration: 4s;
  }
@keyframes ellipsis {
0% { width: 2ch; }
}

.existing-policy-container{
    max-height: 150px;
    overflow-y: scroll;
}

#scrollbar::-webkit-scrollbar-track{
    background: rgba(236, 0, 140, 0.25);
    border-radius: 10px;
}

#scrollbar::-webkit-scrollbar{
    width: 10px;
}

#scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: $pink;
}